manifest {
    mainScript = 'main.nf'
    name = 'Dorado_tests'
}


// default parameters
params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    memory = '12'
    help = false
    profile = false

    // inputs
    pod5 = ''
    output = 'results'
}